<html lang="ru">
<head>
    <link href="./src/styles/styles.scss" rel="stylesheet">
</head>
<body>

<nav>
    <ul>
        <li class="project-item">
            <a href="./src/pages/autorization.hbs" class="project-link">авторизация</a>
        </li>
        <li class="project-item">
			<a href="#" class="project-link">мессенджер</a>
            {{!-- <a href="src/pages/messenger/messenger.hbs" class="project-link">messenger</a> --}}
        </li>
        <li class="project-item">
			<a href="#" class="project-link">регистрация</a>
            {{!-- <a href="src/pages/registration/registration.hbs" class="project-link">registration</a> --}}
        </li>
        <li class="project-item">
			<a href="#" class="project-link">профиль</a>
            {{!-- <a href="src/pages/profile/profile.hbs" class="project-link">profile</a> --}}
        </li>
        <li class="project-item">
			<a href="#" class="project-link">изменить профиль</a>
            {{!-- <a href="src/pages/editProfile/editProfile.hbs" class="project-link">editProfile</a> --}}
        </li>
        <li class="project-item">
			<a href="#" class="project-link">изменить пароль</a>
            {{!-- <a href="src/pages/editPassword/editPassword.hbs" class="project-link">editPassword</a> --}}
        </li>
        <li class="project-item">
			{{!-- <a href="#" class="project-link">404</a> --}}
            <a href="src/pages/errors/404.hbs" class="project-link">404</a>
        </li>
        <li class="project-item">
			{{!-- <a href="test.hbs" class="project-link">500</a> --}}
            {{!-- <a href="test.hbs" class="project-link">500</a> --}}
        </li>
    </ul>
</nav>

</body>
</html>
