$secondaryColor: rgba(0,0,0,.72);
$thirdColor: rgba(0, 0, 0, 0.862);
$primaryColor: #333F48;
$activeColor: rgb(10, 62, 204);
$backgroundColor: #ffffff;
$borderRadius: 6px;

* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

/* Pages */
.page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        padding: 20px;
        width: 340px;
        height: 450px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
    }
}

.title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 34px;
    text-align: center;
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: $secondaryColor;

    &:hover,&:focus {
        color: $activeColor;
    }
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
      margin-bottom: 12px;
  }

  &__subtitle {
      margin-bottom: 24px;
  }
}


.label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: $thirdColor;
}

.signin-form {
  margin-bottom: 42px;

  &__input {
      margin-bottom: 28px;
  }

  &__action {
      margin-top: 50px;
  }

  &__input, &__action {
      &:last-child {
          margin-bottom: 0;
      }
  }

  &__link {
      display: block;
      width: 100%;
      text-align: center;
  }
}

.input {
  font-size: 16px;
  color: $secondaryColor;
  padding: 6px 10px 6px 0;
  border-width: 0;
  border-bottom: 1px solid $primaryColor;
  outline: none;

  &:hover,&:active,&:focus {
      border-color: $activeColor;
  }

  &_fullWidth {
      width: 100%;
  }

}

.button {

  font-size: 16px;
  color: $primaryColor;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: $borderRadius;
  text-decoration: none;
  cursor: pointer;
  background-color: $backgroundColor;

  &_fullWidth {
    width: 100%;
  }

  &:hover {
    border-color: $activeColor;
    color: $activeColor;
  }
}

.project-item {
    list-style: none;
}

.project-link {
    text-decoration: none;
    color: $primaryColor;

    &:hover,&:focus {
        color: $activeColor;
    }
}
